___
# Pandas Exercise 2

Purchases.csv contains fake data about purchases done through Amazon!
Answer the questions and complete the tasks. 
Many of the questions can be answered in several ways.
All questions can be answered with one line of code.
____
**Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom.**

In [1]:
import pandas as pd

In [2]:
ecom = pd.read_csv('https://raw.githubusercontent.com/wintonw/ISE364/master/Pandas/Pandas_2/Purchases.csv')

**Check the head of the DataFrame.**

In [3]:
ecom.head()

                                             Address  ... Purchase Price
0  16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14
1  9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
2                   Unit 0065 Box 5052\nDPO AP 27450  ...           0.95
3              7780 Julia Fords\nNew Stacy, WA 45798  ...          78.04
4  23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  ...          77.82

[5 rows x 14 columns]

**How many rows and columns are there?**

In [4]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

**What is the average Purchase Price?**

In [5]:
ecom['Purchase Price'].mean()

50.34730200000025

**What were the highest and lowest purchase prices?**

In [6]:
# Max
ecom['Purchase Price'].max()

99.99

In [7]:
ecom['Purchase Price'].min()

0.0

**How many people have English 'en' as their Language of choice on the website?**

In [8]:
sum(ecom['Language'].str.contains('en'))

1098

**How many people have the job title of "Lawyer" ?**

In [9]:
sum(ecom['Job'].str.contains('en', case=False))

2719

**How many people made the purchase during the AM and how many people made the purchase during PM ?**

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) )**

In [10]:
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

**What are the 5 most common Job Titles?**

In [11]:
ecom['Job'].value_counts().head()

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Designer, jewellery              27
Purchasing manager               27
Name: Job, dtype: int64

**Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?**

In [12]:
ecom[ecom['Lot'] == '90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

**What is the email of the person with the following Credit Card Number: 4926535242672853**

In [13]:
ecom[ecom['Credit Card'] == 4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

**How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [14]:
# sum(ecom['CC Provider'].str.contains('American Express') & ecom['Purchase Price'] > 95)
sum(ecom[ecom['CC Provider'].str.contains('American Express')]['Purchase Price'] > 95)

39

**How many people have a credit card that expires in 2025?**

In [15]:
sum(ecom['CC Exp Date'].str[-2:] == '25')

1033

**What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)**

In [16]:
ecom['Email'].str.split('@', expand=True).iloc[:,1].value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: 1, dtype: int64